/* general */


body, html{
	margin: 0;
	font-family: "Montserrat", "Courier New", Courier, monospace;
	scroll-behavior: smooth;
}

p{
	line-height: 25px;
}

/* header */
#initial{
	background: linear-gradient(to right, #D0ECE7, #ABB2B9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#profile{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;

}

#arrowDown{
	width: 64px;
	height: 64px;

	cursor: pointer;
}

#arrowDownGif{
	width: 100%;
	height: 100%;
}

#profileImage{
	height: 320px;
	width: 320px;
	border-radius: 160px;
}

#personalData{
	margin: 20px;
}

#shortDescription{
	padding: 20px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	text-align: center;
}

#header{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 10%;
	width: 100%;

	position: fixed;
	z-index: 2;
	top: 0;
}

#languajeButton{
	position: fixed;
	right: 5%;
	top: 3%;
	z-index: 3;
}

#title{
	padding-left: 15px;
}

#menu{
	display: flex;
	width: 100%;
	margin: 10px;
	justify-content: center;
	align-items: center;
}

.menuElement{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
	border-radius: 10px;
	margin: 10px;
	text-align: center;

	background-color: rgba(255,255,255,0.8);
	backdrop-filter: blur(2px);
	
	color: #ABB2B9;
	text-decoration: none;
}



/* main */

#main{
	height: 85%;
	width: 90%;
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
}

.section{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100%;
}


.projectTitle{
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.project{
	width: 65%;
}

.projectImage{
	width: 100%;
}

.galery{
	position: relative;
	z-index: 1;
}

.linksContainer{
	position: absolute;
	padding: 10px;
	top: 10px;
	right: 10px;
}

.links{
	margin: 10px;
	text-decoration: none;
}

.icon{
	height: 24px;
	width: 24px;
	padding: 10px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 24px;
}

.icon:hover{
	background-color: rgba(255,255,255, 0.7);
}

/* footer */

#footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #D0ECE7, #ABB2B9);
	opacity: 0.95;
	width: 100%;
	height: 200px;

}

#footerText{
	color: white;
}

/* mobile nav */

@media screen and (min-width: 780px){
	#mobileNavIcon{
		display: none;
	}

	.menuElementMobile{
		display: none;
	}
}

@media screen and (max-width: 780px){
	#menu{
		display: none;
	}

	#header{
		display: flex;
		justify-content: flex-end;
	}

	#mobileNavIcon:active{
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	

	#mobileNavIcon{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 48px;
		height: 48px;
		position: fixed;
		bottom: 5%;
		right: 5%;
		background-color: rgba(255,255,255,0.5);
		border-radius: 24px;
		box-shadow: inset 0 0 0 0.5px rgba(171,178,185,1);
		backdrop-filter: blur(2px);
		z-index: 3;
	}

	.menuElementMobile{
		display: none;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 10px;
		margin: 10px;
		width: 110px;
		text-align: center;

		background-color: rgba(255,255,255,0.8);

		color: #ABB2B9;
		text-decoration: none;
	}

	#profile{
		display: flex;
		flex-direction: column;
		width: 90%;
	}

	#profileImage{
		height: 240px;
		width: 240px;
		border-radius: 160px;
	}

	#personalData{
		text-align: center;
	}

	.project{
		width: 100%;
	}

	.linksContainer{
		padding: 10px;
		top: 10px;
		right: 10px;
	}

	.icon{
		padding-left: 50px;
		padding-right: 50px;
		border-radius: 12px;
		box-shadow: inset 0 0 0 1px rgba(171,178,185,0.8);
	}
}
